 #nav-bar {
    position: fixed;
    height: 80px;
    width: 100vw;
    background-color: #00a087;
    color: #e8fdff;
    left: 0px;
    right: 0px;
    padding-left: 2em;
    padding-right: 2em;
    float: left;
    font-size: 2em;
    top: 0px;
}
#nav-bar .logo {
    width: 80px;
    height: 80px;
    float: left;
}
#nav-bar .header {
    line-height: 80px;
}

.toggleButton {
    background-color: #e8fdff;
    color: #00a087;
    position: relative;
    width: 140px;
    top: -83px;
    left: 60vw;
    height: 65px;
    margin: 10px;
    border-radius: 10px;
    border: solid 2px black;
}

.fa-pencil-square-o {
    position: absolute;
    top: 15px;
    left: 8px;
}

.navP {
    position: absolute;
    top: -6px;
    left: 40px;
    font-size: 0.7em;

}

.toggleButton:hover {
    background-color: white;
    color: black;
}